.wrapperDetalle {
    padding: 0 2%;
}

    .wrapperDetalle dl {
    }

    .wrapperDetalle dt {
        font-size: 1em;
        display: inline-grid;
        width: 28%;
        text-align: right;
        border-right: double;
        padding-right: 1%;
        padding-bottom: 1%;
    }

    .wrapperDetalle dd {
        display: inline-grid;
        width: 62%;
        font-size: 1em;
        margin: 0;
        border-bottom: outset;
        padding-left: 5%;
    }
