#wrapperTable{
    width:90%;
    margin:0 5%;
}
table{
    width:100%;
}
#wrapperTable h2{
    font-size:3em;
    text-align:center;
}
#wrapperTable th {
    font-size: 1.2em;
    font-weight: bold;
    color: #e94a4f;
    height:60px;
}
#wrapperTable td {
    font-size: 1em;
    padding: 1em;
    height: 60px;
    margin-top:3px;
    border-right:groove 1px;
}
#wrapperTable img {
    width: 55px;
    height: 55px;
}