
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Sesion", "Sesion"))
{
    <label>Email</label>
    <input type="email" name="email" />
    <br />
    <label>Password</label>
    <input type="password" name="password" />
    <br />

    <button type="submit">Enviar</button>
}
