@{
    ViewBag.Title = "Home Page";
}

<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="http://mudalia.com/wp-content/files_mf/cache/th_89addcaab11e02421fc7d7edf27d0305_1450351953bannermudalia.png" />
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>HACEMOS TUS MUDANZAS</h2>
            <P>Solicita tu presupuesto sin compromiso!!</P>
        </div>
    </div>
</section>