
@{
    ViewBag.Title = "Nosotros";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <img src="~/Content/Banner1.png" />
                
            </div>
        </div>
        <div class="raya"></div>
        <div class="slogan">
            <h2>Fletes y mudanzas en Guaymas.</h2>
            <P>Cuidamos de sus muebles como si fuesen nuestros.</P>
            <img src="~/Content/edge-candy.svg" />
        </div>
    </div>
</section>
<section>
    <div id="wrapperNosotros">
        <h2>Nosotros</h2>
        <p class="nosotrosDescripcion">Somos una empresa que se dedica a ayudarte con un negocio fiel y al alcance de tus necesidades con precios justos y sin incrementos por publicaciones o promociones como días festivos y demás. Te ayudamos siempre innovados en calidad y a la vanguardia con sitios web, correos electrónicos, Facebook, GooglePlus y demás.</p>
        <img src="~/Content/offer-no-image.png" />
        <div style="clear:both"></div>
        <h2>Misión</h2>
        <p class="nosotrosMision">Nuestro fin no es dar cantidad de servicio sino calidad; por ello nuestro deber es darle un buen servicio con seguridad pero lo más rápido posible, tomando en cuenta no infringir las reglas y cumplir con sus expectativas de calidad, para lograr gran satisfacción en nuestros clientes, y así ser su primera opción para trasladar sus muebles.</p>
        <img src="~/Content/uso-stretch.jpg" />
        <div style="clear:both"></div>
        <h2>Visión</h2>
        <p class="nosotrosVision">Ser una empresa que se distinga entre los clientes por tener siempre presente que las necesidades de los mismos son nuestra prioridad, por la seguridad, rapidez, respeto y calidad del servicio que se les brinda.</p>
        <img src="~/Content/embalaje.jpg" />
        <div style="clear:both"></div>
    </div>
</section>
<div class="separador"></div>
<section>
    <div class="wrapperPresentacion">
        <article>
            <h2>
                Galeria
            </h2>
            <p>
                Somos una empresa responsable, que dedica su trabajo a la excelencia en tiempo y forma.
            </p>
            <img src="~/Content/imagen1.png" />
            <img src="~/Content/imagen2.jpg" />
            <img src="~/Content/imagen3.jpg" />
            <img src="~/Content/imagen4.jpg" />
            <img src="~/Content/imagen5.jpg" />
            <img src="~/Content/imagen6.jpg" />
            <img src="~/Content/imagen7.jpg" />
            <img src="~/Content/imagen8.jpg" />
        </article>
    </div>
</section>